.arrow {
    background-image: url("../../Images/arrow_up.svg");
    background-size: 400% 100%;
    background-position: 0 0;
}
.arrow.right {
    background-image: url("../../Images/arrow_right.svg");
}
.arrow.left {
    background-image: url("../../Images/arrow_left.svg");
}
.arrow.up {
    background-image: url("../../Images/arrow_up.svg");
}
.arrow.down {
    background-image: url("../../Images/arrow_down.svg");
}
.arrow.moving {
    animation: FourSteps 500ms steps(4,end) infinite;
}
@keyframes FourSteps {
    0%      {background-position: 0 0}
    100%    {background-position: 133.333% 0}
}