.arrow, [data-name="arrow"] {
    background-size: 400% 100%;
    background-image: url("../../Images/arrow_up.svg");
    background-position: 0 0;
}
.arrow.right, [data-name="arrow"].right {
    background-image: url("../../Images/arrow_right.svg");
}
.arrow.left, [data-name="arrow"].left {
    background-image: url("../../Images/arrow_left.svg");
}
.arrow.up, [data-name="arrow"].up {
    background-image: url("../../Images/arrow_up.svg");
}
.arrow.down, [data-name="arrow"].down {
    background-image: url("../../Images/arrow_down.svg");
}
.arrow.moving, [data-name="arrow"].moving {
    animation: FourSteps 500ms steps(4,end) infinite;
}
@keyframes FourSteps {
    0%      {background-position: 0 0}
    100%    {background-position: 133.333% 0}
}