.Board {
	position: relative;
}
.Board,.Board .Layer{
	height:100%;
	width:100%;
}
.Board .Layer,.Board .panel,.Board .overlay , .Board .center {
	position:absolute;
}
.Board .overlay {
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.Board .center {
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
.Board .hidden {
	display:none;
}