.Board {
	position: relative;
}
.Board,.Broard .Layer{
	height:100%;
	width:100%;
}
.Board .Layer,.Board .panel,.Board .overlay {
	position:absolute;
}
.Board .overlay {
    top:5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}