.GUIElement.ControllerManager .DeviceActions,
.GUIElement.ControllerManager .MappingActions {
	white-space: nowrap;
}
.GUIElement.ControllerManager .controllers,
.GUIElement.ControllerManager .mappings {
    vertical-align: top;
}
.GUIElement.ControllerManager .Menu {
    width: 100%;
}