.Map {
	display:inline-block;
	height: 100%;
	width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.Map .stage {
    position: absolute;
}
.Map .stage img {
    position: absolute;
}