#logger {
	width: 100%;
	height:50px;
}
body > fieldset{
    height:500px;
}

.GUIElement.Map [data-name~="black"] {
	background-color:black; 
}
.GUIElement.Map [data-name~="blue"] {
	background-color:blue; 
}
.GUIElement.Map [data-name~="green"] {
	background-color:green; 
}
.GUIElement.Map [data-name~="orange"] {
	background-color:orange; 
}
.GUIElement.Map [data-name~="purple"] {
	background-color:purple; 
}