.GUIElement.Menu .menuitem {
    margin: 10px 10px 10px 30px;
}
.GUIElement.Menu[data-type="VERTICAL"] .menuitem {
    display: block;
}
.GUIElement.Menu .menuitem.active:before {
    content: "►";
    margin: 0 0 0 -20px;
    position: absolute;
}
.GUIElement.Menu .menuitem.selected {
    background-color: #FFFFFF;
}